<h1><%= link_to(enki_config[:title], '/') %></h1>
<% if flash[:error] %><p><%= flash[:error] %></p><% end %>
<%= form_tag(admin_session_path) do -%>
  <h2>Sorry, you're not authorized</h2>
<% end -%>
